---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.ame-logo {
	text-align: left;
	margin-top: 10px;
}
.panel-body p {
	margin-top: 10px;
}
@media (min-width: 768px) {
	.ame-logo {
		text-align: right;
		margin-top: 20px;
	}
}
