---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



@media (min-width: 768px) {
	
}

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif!important;
	border-top: solid 10px #FFC627;
}

h3 {
	font-weight:800;
}

.lead-section {
	margin-top: 128px;
}
.lead-bold {
	font-weight:800;
}
.lead-section-last {
	margin-bottom: 128px;
}
.superscript {
	vertical-align: super;
	font-size: 80%;
}
